* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    background-color: dimgray;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

.circulo_1{
    height: 12em;
    width: 12em;
    border-radius: 50%;
    padding: 7em;
    position: relative;
    left: -28em;
  
    
   
    
}

.circulo_2{
    border-radius: 50%;
    height: 8em;
    width: 8em;
    position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circulo_3{
    border-radius: 50%;
    height: 4em;
    width: 4em;
    position:absolute;
    top: 50%;
    left: 4em;
  transform: translate(-50%, -50%);
  padding: 3em;
}

.linea_1{
height: 12px;
width: 55px;
position: absolute;
top: 50%;
left:-48.4px;
}

.linea_2{
    height: 12px;
    width: 55px;
    position: absolute;
    top: 50%;
    left: 121px;
  
}


















.black{
    background-color: rgb(0, 0, 0);
}


.green{
    background-color: #257425;
  }

.red{
    background-color: #A60000;
}

.white{
background-color: #D9D9D9;
}

.blue{
    background-color: #8EA1FF;
}

  
  