body {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  display: block;
  place-content: center;
  place-items: center;
}

.main {
  position: relative;
  height: 80vh;
  aspect-ratio: 0,4862;
}

img{
  user-select: none;
  pointer-events: none;
}

.logo{
  width: 15%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* background */
.bg-red-svg {
  height: 80vh;
}
.bg-blanco {
  width: 90%;
  height: 85%;
  background-color: white;
  position: absolute;
  top: 6.5%;
  left: 5%;
  border-radius: 3em;
  z-index: -1;
}

/* elementos negros */
.circulo_negro {
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 20%;
  transform: translateX(-50%);
}
.rectangulo_negro{
  height: 16%;
  width: 100%;
  position: absolute;
  top: 42%;
}

/* pantalla */
.content_canva {
  height: 80%;
  aspect-ratio: 4/5;
  border-radius: 2em;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.pantalla{
  height: 90%;
  width: 90%;
  border-radius: 1em;
  background-color: rgb(127, 221, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* lineas diagonales */
.container_diagonales{
  position: absolute;
  top: 70%;
  right: 15%;
}
.linea_diagonal{
  height: 1.5vh;
  aspect-ratio: 8/1;
  border-radius: 50em;
  transform: rotate(-20deg);
  margin-top: 8%;
}

/* botones derechos */
.botones {
  height: 7%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}
.boton_verde_left{
  top: 50%;
  right: 14%;
}
.boton_verde_right{
  top: 43.5%;
  right: 9%;
}
.boton_amarillo{
  top: 15%;
  right: 20%;
}

/* botones de izquierda */
.boton_principal_izquierda {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circulo_negro_buton {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.linea_negra {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.circulo_azul {
  height: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* switches */
.container_switches{
  position: absolute;
  top: 70%;
  left: 17%;
}
.switcher{
  height: 3vh;
  aspect-ratio: 4.5/1;
  border-radius: 50em;
  transform: rotate(20deg);
  margin-top: 10%;
  position: relative;
}
.lever{
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: 2%;
  top: 0.26vh;
}

/* colores */
.black {
  background-color: #000000;
}
.green {
  background-color: #257425;
}
.red {
  background-color: #A60000;
}
.brown{
  background-color: #350000;
}
.white {
  background-color: #ffffff;
}
.blue {
  background-color: #8EA1FF;
}
.yellow{
  background-color: #E8FCBA;
}