* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo{
  position: absolute;
  width: 11em;
  height: auto;
  top: 2.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  place-content: center;
  place-items: center;
}

.contenedor {
  position: relative;
}


.boton_principal_izquierda {
  position: absolute;
  top: 5em;
  left: 21em;
  top: 8em;
}

.circulo_0 {
  height: 4em;
  width: 7em;
  border-radius: 50%;
  padding: 9em;
  position: relative;
  left: -30em;
  top: -1em;

}

.circulo_1 {
  height: 11em;
  width: 11em;
  border-radius: 50%;
  padding: 7em;
  position: relative;
  left: -6.5em;
  top: -7em;

}



.circulo_2 {
  border-radius: 50%;
  height: 8em;
  width: 8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circulo_3 {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translate(-50%, -50%);
  padding: 3em;
}

.linea_1 {
  height: 12px;
  width: 55px;
  position: absolute;
  top: 50%;
  left: -48.4px;
}

.linea_2 {
  height: 12px;
  width: 55px;
  position: absolute;
  top: 50%;
  left: 121px;

}

.main {
  transform: translate(-50% -50%);
  position: relative;
  width: 52em;
  height: 32em;
}

.background {
  height: 32em;

}

.bgblanco {
  width: 90%;
  height: 85%;
  background-color: aliceblue;
  position: absolute;
  top: 6.5%;
  left: 5%;
  z-index: -1;
  border-radius: 5%;
}

.content_canva {
  width: 20em;
  height: 24em;
  position: absolute;
  top: 5.2em;
  bottom: 0px;
  right: 16em;
  border-radius: 1rem;
 
}

.rectangulo_1{
  
  height: 5em;
  width: 14.3em;
  position: absolute;
  right: 28px;
  bottom: 47%;
}


.rectangulo_2{
  
  height: 5em;
  width: 14.3em;
  position: absolute;
  left: 28px;
  bottom: 47%;
}


.rectangulos_diagonales{
  height: 16em;
  width: 12em;
  position: absolute;
  right: 5px;
  bottom: 0px;
  right: 5em;
  display: flex;
flex-direction: column;
justify-content: center;


}

.rectangulo_diagonal_1{
  height: 15px;
  width: 80px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-35deg);
}
.rectangulo_diagonal_2{
  height: 15px;
  width: 80px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-35deg);
  margin-top: 10px;
}

.rectangulo_diagonal_3{
  height: 15px;
  width: 80px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-35deg);
  margin-top: 10px;
}

.rectangulo_diagonal_4{
  height: 15px;
  width: 80px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-35deg);
  margin-top: 10px;
}

.boton_derecha_1{
  position: absolute;
  bottom: 15.5em;
  right: 10em;
  
}

.boton_derecha_2{
  position: absolute;
  bottom: 17.5em;
  right: 6em;
}

.boton_derecha_3{
  position: absolute;
  top: 6.5em;
  right: 9em;
}







.botones {
  border-radius: 50%;
  height: 37px;
  width: 37px;
}


.black {
  background-color: rgb(0, 0, 0);
}


.green {
  background-color: #257425;
}

.red {
  background-color: #A60000;
}

.white {
  background-color: #D9D9D9;
}

.blue {
  background-color: #8EA1FF;
}

.yellow{
  background-color: #E8FCBA;
}