body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    place-content: center;
    place-items: center;
}

.main{
    transform: translate(-50% -50%);
    position: relative;
}
.background{
    height: 70%;
    width: auto;
}
.bgblanco{
    width: 90%;
    height: 85%;
    background-color: aliceblue;
    position: absolute;
    top: 6.5%;
    left: 5%;
    z-index: -1;
    border-radius: 5%;
}
